Repository justinrusso/loot-locker, pull requests merged in 2022-01, with the labels that each got.

#17 Feat: add items backend
  app/__init__.py
  app/api/item_routes.py
  app/models/__init__.py
  app/models/item.py
  migrations/versions/20220107_190900_create_items_table.py
Labels: enhancement, items

#20 Change JSON keys casing to camelCase
  app/models/item.py
Labels: enhancement

#38 Create cartItems store slice and add thunk to get all cart items
  app/__init__.py
  react-app/src/components/cart/CartDrawer.js
  react-app/src/components/cart/mock-data.js
  react-app/src/store/cart-items.js
  react-app/src/store/index.js
  react-app/src/store/session.js
Labels: cart

#40 Add Demo Login Button
  Pipfile
  Pipfile.lock
  app/api/auth_routes.py
  react-app/src/components/auth/LoginForm.js
  react-app/src/store/session.js
  requirements.txt
Labels: user

#60 Fixed result card display error
  react-app/src/components/search/ResultCard.js
Labels: items

#58 Delete Item from Cart & Cart Styling
  app/api/cart_routes.py
  app/forms/delete_cart_item_form.py
  react-app/src/components/cart/CartDrawer.js
  react-app/src/components/cart/CartListItem.js
  react-app/src/components/common/IconButton.js
  react-app/src/store/cart-items.js
Labels: cart

#57 added category route to api and added category/id to item.to_dict
  app/__init__.py
  app/api/category_routes.py
  app/api/item_routes.py
  app/models/category.py
  app/models/item.py
  react-app/src/store/items.js
Labels: categories

#65 Checkout Feature
  app/api/cart_routes.py
  react-app/src/components/cart/CartDrawer.js
  react-app/src/store/cart-items.js
  react-app/src/store/items.js
Labels: cart

#72 Allow user to adjust quantity of cart items
  app/api/cart_routes.py
  app/forms/cart_item_form.py
  react-app/package.json
  react-app/src/components/cart/CartListItem.js
  react-app/src/components/cart/QuantitySelector.js
  react-app/src/components/common/Paper.js
  react-app/src/store/cart-items.js
  react-app/src/theme/index.js
Labels: enhancement, cart

#78 Improved Form Errors
  app/api/auth_routes.py
  app/api/item_routes.py
  app/forms/__init__.py
  app/forms/create_item_form.py
  react-app/src/components/auth/LoginForm.js
  react-app/src/components/auth/SignUpForm.js
  react-app/src/components/items/NewItemPage.js
Labels: enhancement
